{% extends 'base.html' %}
    
{% block titulo %}
Estado del servicio
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h3>Listar Estado del servicio</h3>

    <!-- tarjeta -->
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-success" id="btnAgregar">Agregar</button>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="tbl">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
      </table>
      </div>
    </div>
    <!-- /tarjeta -->

    <!-- El formulario -->
    <div class="modal" id="modalFormulario">
      <!-- La clase modal-dialog-centered centra el modal -->
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="modalTitle"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" id="txtIdEstadoServicio">
              <label for="txtdescripcion_estado">Descripción:</label>
              <input type="text" class="form-control" placeholder="Ingrese el estado del servicio" id="txtdescripcion_estado">
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="btnGuardar">Guardar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>

        </div>
      </div>
    </div>

    <div class="row mt-4 d-none" id="rowAlerta">
        <div class="col col-md-12">
            <div class="alert alert-success">
                <strong>Registro Exitoso!</strong>
                <div class="row" id="mostrarAlerta"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>

  const initDatatable = () => {
    $('#tbl').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/estadoservicio',
      columns: [
        { data: 'descripcion_estado' },
        { data: function(row) {
            return `<button type="button" name="btn_editar" class="btn btn-success" data-id="${row.id}">Editar</button>
                    <button type="button" name="btn_eliminar" class="btn btn-danger" data-id="${row.id}">Eliminar</button>`
          }
        }
      ]
    });
  }

  const agregar = () => {
    $('#btnAgregar').on('click', function(){
      // Setear un título a modal
      $('#modalTitle').text("Agregar Estado del servicio");
      // inicia ventana modal
      $('#txtIdEstadoServicio').val("");
      $('#txtdescripcion_estado').val("");
      $('#modalFormulario').modal();
    });
  }

  const guardar = () => {
    $('#btnGuardar').on('click', function() {
      const idEstadoServicio = $('#txtIdEstadoServicio').val();
      const nuevadescripcion_estado = $('#txtdescripcion_estado').val();
      const tabla = $('#tbl').DataTable();

      if(idEstadoServicio) {
        // update
        fetch(`/api/v1/estadoservicio/${idEstadoServicio}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          }, body: JSON.stringify({ descripcion_estado: nuevadescripcion_estado})
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Actualizado", "El Estado del servicio ha sido actualizada correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al actualizar el Estado del serrvicio.", "error");
        });
      } else {
        // insert
        fetch(`/api/v1/estadoservicio`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }, body: JSON.stringify({ descripcion_estado: nuevadescripcion_estado})
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Actualizado", "El Estado del servicio ha sido agregada correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al guardar el Estado del servicio.", "error");
        });
      }
      $('#txtdescripcion_estado').val("");
      $('#modalFormulario').modal("hide");
    });
  }

  const editar = () => {
    $('#tbl').on('click', 'button[name="btn_editar"]',function(){
      // Mostrar mensaje de confirmación usando sweetalert
      Swal.fire({
        title: "¿Deseas editar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          //Swal.fire("Saved!", "", "success");
          $('#modalTitle').text("Editar Estado del servicio");

          const idEstadoServicio = $(this).data('id');
          $('#txtIdEstadoServicio').val(idEstadoServicio);

          // Necesitamos obtener la descripción del backend
          fetch(`/api/v1/estadoservicio/${idEstadoServicio}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            $('#txtdescripcion_estado').val(data.data.descripcion_estado);
            $('#modalFormulario').modal();
          });
        }
      });
    });
  }

  const eliminar = () => {
    $('#tbl').on('click', 'button[name="btn_eliminar"]',function(){
      const idEstadoServicio = $(this).data('id');
      // Mostrar mensaje de confirmación usando sweetalert
      Swal.fire({
        title: "¿Deseas eliminar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/api/v1/estadoservicio/${idEstadoServicio}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if(data && !data.error && data.success) {
              // Para borrar la fila del datatable(cliente)
              const fila =$(this).closest('tr');
              const tabla = $('#tbl').DataTable();
              tabla.row(fila).remove().draw();
              Swal.fire("Eliminado", "", data.success);
            } else {
              Swal.fire(data.error);
            }
          }).catch(err => {
            Swal.fire("Error", "Ocurrió un error al eliminar el Estado del servicio.", "error");
          });
        }
      });

    });
  }

  const addEvents = () => {
    agregar();
    guardar();
    editar();
    eliminar();
  }

  $(function() {
    initDatatable();
    addEvents();
  });
</script>
{% endblock %}